.container {
  border-width: 10px;
  border-top-color: var(--background-color);
  border-right-color: var(--border-color-shadow);
  border-bottom-color: var(--border-color-shadow);
  border-left-color: var(--background-color);
  border-style: solid;

  background-color: #c6c6c6;
  padding: 10px;
}
.header-wrap,
.cell-area-wrap {
  border-width: 10px;
  border-top-color: var(--border-color-shadow);
  border-right-color: var(--background-color);
  border-bottom-color: var(--background-color);
  border-left-color: var(--border-color-shadow);
  border-style: solid;
}
