.container {
  border-width: 6px;
  border-top-color: var(--border-color-white);
  border-right-color: var(--border-color-shadow);
  border-bottom-color: var(--border-color-shadow);
  border-left-color: var(--border-color-white);
  border-style: solid;

  background-color: #c6c6c6;
  padding: 12px;
}

.header-wrap,
.cell-area-wrap {
  border-width: 6px;
  border-top-color: var(--border-color-shadow);
  border-right-color: var(--border-color-white);
  border-bottom-color: var(--border-color-white);
  border-left-color: var(--border-color-shadow);
  border-style: solid;
}
.header-bottom-bar {
  height: 12px;
  background-color: #c6c6c6;
}
.header-wrap {
  display: flex;
  width: 380px;
  padding: 0.25rem;
}
.header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  font-size: 2rem;
  font-weight: bold;
}
.header-item button {
  width: 100%;
  height: 30px;
}
.board {
  display: flex;
  flex-direction: column;
}
.row {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.cell {
  flex: 1;
  height: 2.5rem;
  border-width: 0.25rem;
  border-top-color: var(--border-color-white);
  border-right-color: var(--border-color-shadow);
  border-bottom-color: var(--border-color-shadow);
  border-left-color: var(--border-color-white);
  background-color: var(--button-background-color);
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 800;
}
.mine-count-1 {
  color: #0000ff;
}
.mine-count-2 {
  color: #569e56;
}
.mine-count-3 {
  color: #ff0000;
}
.mine-count-4 {
  color: #000080;
}
.mine-count-5 {
  color: #9e5656;
}
.mine-count-6 {
  color: #008080;
}
.mine-count-7 {
  color: #000000;
}
.mine-count-8 {
  color: #808080;
}
.cell:active,
.open {
  border-top-color: var(--button-background-color);
  border-right-color: var(--button-background-color);
  border-bottom-color: var(--button-background-color);
  border-left-color: var(--button-background-color);
}
.mine,
.check {
  background-color: black;
}

.red {
  background-color: red;
}
